.perfil-campania {
    display: grid;
    grid-template-columns: 4fr 5fr;
    color: var(--colorAmarilloClaro)
}

.conteiner-donaciones {
    padding: 20px 20px 0px 20px;

    border-radius: 10px 10px 0px 0px;
    background-color: var(--colorNaranja);
    display: flex;
    flex-direction: column;
}


.barra-overlay{
    z-index: var(--indexHeader);
    background: linear-gradient(to bottom, #00000000, #000000c0);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
}

.barra-content{
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 20px 100px;
    gap: 20px;
}

.barra-porcentaje{
    background: var(--colorCelesteOscuro);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--colorCeleste);
}

.barra{
    background-color: var(--colorNaranja);
    border-radius: 10px;
    text-align: center;
}

.progress{
    background-color: var(--colorCeleste);
    border-radius: 10px;
}

.info{
    display: flex;
    justify-content: space-between;
}



.lista-donadores{
    margin: 0px;
    padding: 10px;
    background-color: brown; 
    height: 100%;   
}

.conteiner-informacion {
    padding: 20px;
}

.conteiner-informacion h1, .conteiner-informacion h3{
    margin: 0px;
}






