

.Carrucel {
    width: 100%;
    height: 500px;
    position: relative;
    gap: 20px;
    margin: 20px 0;
    background-color: rgba(1, 39, 121, 0.274);
}
.Carrucel img {
    height: 100%;
    width: 100%;
}
.Carrucel button{
    height: 100%;
    position: absolute;
    width: 30%;
    transition: 0.5s;
}
.Carrucel, .Carrucel > img, .Carrucel > button{
    border-radius: 10px;
}

#Izquierda{
    background: linear-gradient( to left,#2590c900, #000000ca);
    left: 0px;
}
#Derecha{
    background: linear-gradient( to right,#2590c900, #000000ca);
    right: 0px; 
}
.Carrucel button:hover{
    width: 50%;
}
.Carrucel button:active {
    width: 40%;     
}

.aCampanias {
    background-color: var(--colorNaranja);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--colorNaranjaClaro);
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none; 
}

.aCampanias:hover {
    background-color: var(--colorNaranjaClaro);
    color: var(--colorNaranja);
    transition: 0.3s;
}


/* ------------Conteiner de todas las casillas---------- */
.Casillas-Informacion {
    margin: 20px 0;
    display:grid;  
}


/* ------------Cada Casilla---------- */
.CasillaInfo {
    position: relative;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 10px 0;
    background-color: #EDECB3;
    transition: 0.5s; 
}
.CasillaInfo img {
    border-radius: 10px;
    height: 250px;
}
.CasillaInfo p {
    z-index: 1;
    width: 600px;
    max-height: 250px;
    font-size: auto;
    margin:0px 25px 0px 25px ;
    color: #EDECB3;
    transition: 0.5s;
}
.CasillaInfo:hover{
    transform: scale(1.01);
    .shadow0{
        width: 80%;
    };
    .shadow1{
        width: 85%;
    };    
    .shadow2{
        width: 90%;
    }  
}

/* imagen de linea naranja */
.img-casilla-info{
    position: absolute;
}

/* direccion de cada casilla */
#cas-Row{
    transform: rotateY(180deg);
}
.shadow0{
    width: 70%; 
    transition: 0.5s; 
}
.shadow1{
    width: 75%;
    transition: 0.4s; 
    filter: grayscale(1) sepia(1) saturate(12) hue-rotate(0deg)    
}     
.shadow2{
    width: 80%;
    transition: 0.3s; 
    filter: grayscale(1) sepia(1) saturate(5) hue-rotate(0deg) 
}