Header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    color: var(colorAmarilloClaro); 
    background: linear-gradient( #0000007c, #ff000000); 
}


/*--------- Nav Centro - logo grande */
.Logo-Agape-Grande{
    display: flex;
    justify-content: center;
}
.Logo-Agape-Grande img{
    height: 110px;
    transition: 0.5s;   
}
.Logo-Agape-Grande img:hover{
    cursor: pointer;
    transform: scale(1.2);
}
#conteinerLogo{
    display: flex;
    justify-content: center;
}

/*--------- Nav izquierda - logo min */
.ComponentLogo{
    justify-content:baseline;
    flex-direction: row;    
}
.ComponentLogo h3{
    color: var(--colorAmarilloClaro);
    background: linear-gradient(to right, var(--colorCelesteOscuro), #15151500);
    text-align: center;
    font-size: 20px;
}

/* Conjuntos de Nav Izquierda y Derecha */
.ComponentLogo-Perfil,.ComponentLogo{
    display: flex;
    position: relative;
    align-items: center;
    margin: 10px 20px 10px 20px;
}
.ComponentLogo-Perfil img, .ComponentLogo img{
    position: absolute;
    height: 60px;
    border-radius: 50%;
    background-color: var(--colorCeleste);
    transition: 0.5s;
}
.ComponentLogo-Perfil a, .ComponentLogo h3{  
    width: 100%;
    border-radius: 50px;
    transition: 0.5s; 
}

/*---- HOVER ----*/
.ComponentLogo-Perfil img:hover, .ComponentLogo img:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.ComponentLogo-Perfil img:hover + a, .ComponentLogo img:hover + h3{
    padding: 8px;
    font-size: larger;
}

/*--------- Nav Derecha - logo perfil usuario */
.ComponentLogo-Perfil{
    justify-content: end;
    flex-direction: row-reverse;   
}
.ComponentLogo-Perfil img {
    padding: 4px;
}
.ComponentLogo-Perfil a{
    color: var(--colorAmarilloClaro);
    margin-right: 20px;
    background: linear-gradient(to left, var(--colorCelesteOscuro), #15151500); 
    text-align: center;
    font-size: 20px;
}


/* Modal del login */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: var(--colorNaranjaClaro);
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
}

.modal-content h2 {
    margin: 0;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
    margin-top: 115px;
}

.modal-form input {
    width: 80%;
    height: 40px;
    padding: 0.5rem;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.modal-buttons button {
    flex: 1;
    padding: 0.6rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: var(--colorNaranja);
    color: white;
    font-weight: bold;
    transition: background 0.3s;
}

.modal-buttons button:hover {
    background: var(--colorCelesteOscuro);
}

.modal-content .modal-buttons button:active {
    transform: translateY(2px);
}

.modal-content .Logo-Agape-Login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.modal-content .Logo-Agape-Login img {
    margin-top: 80px;
    height: 250px;
    background: none;
    max-width: 320px;
    object-fit: contain;
    transition: none;
    transform: none;
    cursor: default;
}





















