Header {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    color: var(colorAmarilloClaro); 
    background: linear-gradient( #0000007c, #ff000000); 
}

/*--------- Nav Centro - logo grande */
.Logo-Agape-Grande{
    display: flex;
    justify-content: center;
}
.Logo-Agape-Grande img, .modal-overlay img{
    height: 110px;
    transition: 0.5s;   
}
.Logo-Agape-Grande img:hover{
    cursor: pointer;
    transform: scale(1.2);
}
#conteinerLogo{
    display: flex;
    justify-content: center;
}

/*--------- Nav izquierda - logo min */
.ComponentLogo{
    display: flex;
    justify-content: baseline;
}
.navegadorDiv{
    display: flex;
    gap: 10px;
}

/* Conjuntos de Nav Izquierda y Derecha */
.conteinerImg,.ComponentLogo{
    display: flex;
    position: relative;
    align-items: center;
    margin: 10px 20px 10px 20px;
    gap: 10px;
}
.conteinerImg img, .ComponentLogo img{
    height: 60px;
    border-radius: 50%;
    background-color: var(--colorCeleste);
}

/*---- HOVER ----*/
.conteinerImg:hover{
    padding-right: 20px;
    transform: scale(1.2);
}

/*--------- Nav Derecha - logo perfil usuario */
.ComponentLogo-Perfil{
    display: flex;
    justify-content: end; 
}
.conteinerImg img {
    cursor: pointer;
    padding: 4px;
}
.conteinerImg{  
    transition: 0.5s; 
}
.conteinerImg div{
    text-align: end;
    cursor: pointer;
}
.conteinerImg a:hover{
    color: var(--colorNaranja);
}



/* Modal del login */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: var(--colorNaranjaClaro);
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
}

.modal-content h2 {
    margin: 0;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.modal-form input {
    width: 80%;
    height: 40px;
    padding: 0.5rem;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.modal-form a{
    cursor: pointer;
    text-decoration:underline;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.modal-buttons button {
    flex: 1;
    padding: 0.6rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: var(--colorNaranja);
    color: white;
    font-weight: bold;
    transition: background 0.3s;
}

.modal-buttons button:hover {
    background: var(--colorCelesteOscuro);
}

.modal-content .modal-buttons button:active {
    transform: translateY(2px);
}

.modal-content .Logo-Agape-Login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.modal-content .Logo-Agape-Login img {
    margin-top: 80px;
    height: 250px;
    background: none;
    max-width: 320px;
    object-fit: contain;
    transition: none;
    transform: none;
    cursor: default;
}

.boton-google {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 10px;
}


