.campanias{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-top: 50px;
    width: 100%;
}

.campanias h1{
    align-self: flex-start;
    font-size: 40px;
}

.campanias-grid{
    display: grid;
    color: black;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    height: 300px;
    margin: 10px;
}

.CampaniaCard{
    background-image: url('public/imagenesTemporales/pexels-123.jpg'); 
    background-size: cover;
    background-position: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

