/* ---------------------Main-------------------- */
.main{
    padding: 0 40px;
}

.main > div{
    width: 100%;
    min-height: 100vh;
    max-width: 1500px;  
    margin: 0 auto;
    margin-top: 150px;
}

.conteinerH2-Input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;   
}

/* responsive */
@media (max-width: 1024px) {
    .main > div{
        margin-top: 100px;
    }
}
@media (max-width: 480px) {
    .main{
        padding: 0px;
    }
    .main > div{
        margin-top: 70px;
    }
}