/* ---------------------Main-------------------- */
.main{
    padding: 0 40px;
    
}

.main > div{
    width: 100%;
    min-height: 100vh;
    max-width: 1500px;  
    margin: 0 auto;
    margin-top: 150px;
}

