#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

/* ---------------------Header-------------------- */

img {
    height: 20px;
    background-color: white;
}

.ComponentLogo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

Header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    color: white;
    padding: 1rem 0;
}



/* ---------------------Footer-------------------- */

Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e8b068;
    color: white;
    padding: 1rem 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}









/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */