

/* ---------------------Header-------------------- */

Header img {
    height: 20px;
    background-color: white;
}

.ComponentLogo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    color: white;
    background: transparent;
    
}

/* ---------------------Main-------------------- */


body{
  background: linear-gradient(to bottom, #00686C, #17294F);
  
}

.home{
    width: 100%;
}

.Carrucel {
    width: 100%;

    height: 500px;
    position: relative;
    gap: 20px;
    margin: 20px 0;
    background-color: rgba(1, 39, 121, 0.274);
}
.Carrucel img {
    height: 100%;
    width: 100%;
}
.Carrucel button{
    height: 100%;

    position: absolute;
    width: 30%;
    transition: 0.5s;
}
.Carrucel, .Carrucel > img, .Carrucel > button{
    border-radius: 10px;
}

#Izquierda{
    background: linear-gradient( to left,#2590c900, #000000ca);
    left: 0px;
}
#Derecha{
    background: linear-gradient( to right,#2590c900, #000000ca);
    right: 0px; 
}
.Carrucel button:hover{
    width: 50%;
}
.Carrucel button:active {
    width: 40%;     
}

/* no funca */
/* .fade {
    opacity: 0;
    transition: opacity 0.3s;
}
.Carrucel img {
    opacity: 1;
    transition: opacity 0.3s;
} */





/* ------------Conteiner de todas las casillas---------- */
.Casillas-Informacion {
    margin: 20px 0;
    display:grid;  
}


/* ------------Cada Casilla---------- */
.CasillaInfo {
    position: relative;
    display: flex; 
    justify-content: flex-start;
    margin: 10px 0;
    background-color: #e8b068;
}
.CasillaInfo img {
    height: 250px;
}
.CasillaInfo p {
    width: 100%;
    text-align: justify;
    margin:30px;
    font-size: 20px;
    color: #fffdfd;
}


#bloque{
    position: absolute;
    right: 0px;
    width: 80%;
    height: 100%;
    background-color: rgb(125, 0, 0);
    border-radius: 250px 0px 0px 0px;

}

.main{
    padding: 0 40px;
}



/* ---------------------Footer-------------------- */

Footer {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 200px;  
    width: 100%;
    background-color: #e8b068;
    color: white;
    
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}









/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */