:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background: linear-gradient(to bottom, #00686C, #12244d);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --colorCelesteOscuro: #00686C;
    --colorCeleste: #32C2B9;
    --colorAmarilloClaro: #EDECB3;
    --colorAmarillo: #FAD928;
    --colorNaranja: #FF9915;
    --colorNaranjaClaro: #FDD6A4;

    --indexHeader: 10;
    --indexModal: 20;
}

h1,h2,h3,h4 {
    margin: 0;
    user-select: none;
    cursor: default;
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

body {
    margin: 0 auto;
}


/* botones */
button {
    flex: 1;
    border: none;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background: var(--colorNaranja);
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover {
    background: var(--colorCelesteOscuro);
}

button:focus, button:focus-visible {
    background: rgb(0, 72, 96);
}

input:focus, textarea:focus{
    outline: 3px solid var(--colorCeleste);
}


/* Conteiner del modal */
.modal-overlay {
    z-index: var(--indexModal);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    color: white;
    background: var(--colorNaranjaClaro);
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

/* Labels */
#label-group{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#label-group span{
    padding: 10px;
    background-color: var(--colorCelesteOscuro);
    border: var(--colorCeleste) solid 1px;
}
#label-group .span-start{
    border-radius: 10px 0px 0px 10px;
}
#label-group .span-end{
    border-radius: 0px 10px 10px 0px;
}

#label-group input{
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    margin: 0px;
    transition: outline 0.3s;
}


/* Tablas */
.table-wrapper{
  border-radius: 12px;  
  overflow: hidden;        
  border: 3px solid var(--colorCeleste); 
}

table {
    width: 100%;
    background-color: rgb(80, 130, 144);
    border-collapse: collapse;
    color: white;
}

tr{
    border-bottom: 1px solid var(--colorCeleste);
}

td, th {
    padding: 8px;
    text-align: center;
}

tr:hover {
    background-color: #00b0b7;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--colorCeleste);
}