.fotoUsuario {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 4px var(--colorCeleste);
    z-index: 2;
}

.container1Usuario{
    display: flex;
    align-items: center;
    position: relative;
}

.container2Usuario {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.container2Usuario h2, p {
    margin: 0;
}

.container2Usuario p {
    color: black;
    background-color: var(--colorNaranjaClaro);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-top-right-radius: 50px;
    margin-left: -50px;
    padding-left: 55px;  
}





.navPerfil {
    display: flex;
    justify-content: space-around;
}

.navPerfil h2 {
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
    height: 35px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.navPerfil h2.active {
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 10px 10px 0px 0px ;
}






.linea {
    height: 3px;            
    background-color: var(--colorAmarillo); 
    border-radius: 10px;
}


.tabContent{
    position: relative;
}

.botonEditar {
    position: absolute;
    z-index: 2;
    right: 2px;
    top: 2px;
    border-radius: 0px 8px 0px 10px;
}





.usuarioContent, .campaniaContent {
    height: 100%;
    margin-top: 20px;
    border: solid 2px var(--colorCeleste);
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 0.3);
    position: relative;
}

.datosUsuario, .datosCampania {
    font-size: 18px;
    padding: 20px;
}

.datosUsuario dt {
    font-weight: bold;
    margin-top: 10px;
}

.datosCampania dt {
    font-weight: bold;
    margin-top: 10px;
}





.donacionesUsuario {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 20px;
    justify-content: space-around;
    border: solid 2px var(--colorCeleste);
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 0.3);
    margin-bottom: 10px;
}

.donacionesUsuario p{
    margin: 10px;
}




