.fotoUsuario {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 4px var(--colorCeleste);
    z-index: 2;
}

.container1Usuario{
    display: flex;
    align-items: center;
    position: relative;
}

.container2Usuario {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.container2Usuario h2, p {
    margin: 0;
}

.container2Usuario p {
    color: black;
    background-color: var(--colorNaranjaClaro);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-top-right-radius: 50px;
    margin-left: -50px;
    padding-left: 55px;  
}





.navPerfil {
    display: flex;
    justify-content: space-around;
}

.navPerfil h2 {
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
    height: 35px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.navPerfil h2.active {
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 10px 10px 0px 0px ;
}


.linea {
    height: 3px;            
    background-color: var(--colorAmarillo); 
    border-radius: 10px;
}



.usuarioContent, .campaniaContent {
    height: 100%;
    margin-top: 20px;
    border: solid 2px var(--colorCeleste);
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 0.3);
    position: relative;
}

.datosUsuario, .datosCampania {
    font-size: 18px;
    padding: 20px;
}

.datosUsuario dt {
    font-weight: bold;
    margin-top: 10px;
}

.datosCampania dt {
    font-weight: bold;
    margin-top: 10px;
}

.botonEditar {
    background-color: var(--colorNaranja);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
}

.botonEditar:hover {
    background-color: var(--colorCeleste);
    transition: 0.3s;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
}

.modal {
    background: var(--colorNaranjaClaro);
    color: black;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
    margin-bottom: 12px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}



.modal label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.modal input, .modal textarea {
    width: 100%;
    font-size: 17px;
    border-radius: 5px;
    background-color: white;
}

.inputDesc {
    font-family: Arial, Helvetica, sans-serif;
    height: 150px;
    padding: 10px;
    color: black;
    resize: none;
    border: none;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.modal-buttons button {
    flex: 1;
    padding: 0.6rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: var(--colorNaranja);
    color: white;
    font-weight: bold;
    transition: background 0.3s;
}

.modal-buttons button:hover {
    background: var(--colorCelesteOscuro);
}



.donacionesUsuario {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 20px;
    justify-content: space-around;
    border: solid 2px var(--colorCeleste);
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 0.3);
    margin-bottom: 10px;
}

.donacionesUsuario p{
    margin: 10px;
}




