.donar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donarContainer{
    display: grid;
    align-items: center;
    grid-template-rows: 2fr 3fr 1fr;
    font-size: 25px;
    padding: 20px;
    width: 800px;
    height: 600px;
    border: solid 2px var(--colorCeleste);
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 0.3);
}

.datosCampañaContainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.datosCampañaContainer h1{
    text-align: center;
}

.montoContainer input{
    width: 97%;
    height: 75px;
    font-size: 20px;
}




