.campanias {
  width: 80%;
  margin: 0 auto;
}

.campanias h2{
  cursor: pointer;
}

h2 {
  font-size: 35px;
  margin-top: 100px;
}

.fila {
  display: flex;
  gap: 20px;
  height: 280px;
  margin-bottom: 20px;
}

.cuadrado {
  aspect-ratio: 1 / 1;
  width: 400px;
}

.rectangulo {
  flex-grow: 1;
  height: 100%;
}

.CampaniaCard {
  background-image: url('/imagenesTemporales/pexels-123.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: transform 0.15s;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.CampaniaCard:hover {
    transform: scale(1.01); 
}

.CampaniaCard:active {
    transform: scale(0.99); 
}